<div  ng-controller="catalogController">
<div class="modal-body row">
					  <div class="col-md-9">
					    	<button class="btn btn-primary" data-toggle="modal" data-target="#myModalNorm1">Add New Item to Catalog</button>
					  </div>
					  <div class="col-md-3">
					   		<input type="text" class="form-control" ng-model="search" placeholder="Enter text to search" />
					  </div>
</div>
      <div class="card mb-3">
        
        <div class="card-header">
          <i class="fa fa-table"></i> My Catalog Items</div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Description</th>
                  <th>Brand</th>
                  <th>Price</th>
                  <th>UOM</th>
                  <th>Quantity</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
              <tr ng-repeat = "item in catalog.items | filter : search">
              	<td width="20%">{{item.name}}</td>
              	<td width="20%">{{item.description}}</td>
              	<td width="10%">{{item.brand}}</td>
              	<td width="8%">'&#8377;'{{item.price}}</td>
              	<td width="8%">{{item.uom}}</td>
              	<td width="8%">{{item.quantity}}</td>
              	<td width="26%">
              		<div class="modal-body row">
              			<div class="col-md-6">
              				<button type="button" ng-if="showButtonForDelete(item)" class="btn btn-primary" ng-click="deleteItem(item.id)" data-toggle="tooltip" title="Delete Item"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
              			</div>
              			<div class="col-md-6">
              				<button type="button" data-toggle="modal" data-target="#myModalNorm2" class="btn btn-primary" ng-click="updateItemfun(item)" title="Update Item"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
              			</div>
              		</div>
              	</td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      
      
    <!-- modal for adding new item -->  
    <div class="modal fade" id="myModalNorm1" tabindex="-1" role="dialog" 
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
            Add New Item Details
                <button type="button" class="close" 
                   data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                </button>
                
            </div>
            
            <!-- Modal Body -->
            <div class="modal-body">
                
                <form role="form" id="newItemFrm">
                
                  <div class="form-group">
                    <label for="iname">Name:</label>
                      <input type="text" class="form-control"
                      id="iname" placeholder="Enter item Name" ng-model="iname"/>
                  </div>
                  
                  <div class="form-group">
                    <label for="idescription">Description</label>
                      <input type="text" class="form-control"
                          id="idescription" placeholder="Item Description" ng-model="idescription"/>
                  </div>
                  
                  <div class="form-group">
                    <label for="ibrand">Brand</label>
                      <input type="text" class="form-control"
                          id="ibrand" placeholder="Item Brand" ng-model="ibrand"/>
                  </div>
                  
                  <div class="form-group">
                    <label for="iprice">Price</label>
                      <input type="text" class="form-control"
                          id="iprice" placeholder="Item Price" ng-model="iprice"/>
                  </div>
                  
                  <div class="form-group">
                    <label for="iuom">UOM</label>
                      <input type="text" class="form-control"
                          id="iuom" placeholder="Item Unit Of Measure" ng-model="iuom"/>
                  </div>
                  
                   <div class="form-group">
                    <label for="iuom">Initial Quantity</label>
                      <input type="number" class="form-control"
                          id="iuom" placeholder="Initial Count" ng-model="iquantity"/>
                  </div>
                  
                  <div class="form-group">
                    <label for="istatus">Status</label>
                      <select class="form-control"
                          id="istatus" placeholder="Active/Inactive" ng-model="istatus">
                          <option>ACTIVE</option>
                          <option>INACTIVE</option>
                      </select>
                  </div>
                  
                </form>
            </div>
            
            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">
                            Close
                </button>
                <button type="button" class="btn btn-primary" ng-click="addItem()" data-dismiss="modal">
                    Save changes
                </button>
            </div>
        </div>
    </div>
</div>
      
      
      
       <!-- modal for updating item -->  
    <div class="modal fade" id="myModalNorm2" tabindex="-1" role="dialog" 
     aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
           Update Item Details
                <button type="button" class="close" 
                   data-dismiss="modal">
                       <span aria-hidden="true">&times;</span>
                       <span class="sr-only">Close</span>
                </button>
                
            </div>
            
            <!-- Modal Body -->
            <div class="modal-body">
                
                <form role="form" id="ItemUpdateFrm">
                
                  <div class="form-group">
                    <label for="iname">Name:</label>
                      <input type="text" class="form-control"
                      id="iname" placeholder="Enter item Name" ng-model="updateItem.name"/>
                  </div>
                  
                  <div class="form-group">
                    <label for="idescription">Description</label>
                      <input type="text" class="form-control"
                          id="idescription" placeholder="Item Description" ng-model="updateItem.description"/>
                  </div>
                  
                  <div class="form-group">
                    <label for="ibrand">Brand</label>
                      <input type="text" class="form-control"
                          id="ibrand" placeholder="Item Brand" ng-model="updateItem.brand"/>
                  </div>
                  
                  <div class="form-group">
                    <label for="iprice">Price</label>
                      <input type="text" class="form-control"
                          id="iprice" placeholder="Item Price" ng-model="updateItem.price"/>
                  </div>
                  
                  <div class="form-group">
                    <label for="iuom">UOM</label>
                      <input type="text" class="form-control"
                          id="iuom" placeholder="Item Unit Of Measure" ng-model="updateItem.uom"/>
                  </div>
                  
                  <div class="form-group">
                    <label for="istatus">Status</label>
                      <input type="text" class="form-control"
                          id="istatus" placeholder="Active/Inactive" ng-model="updateItem.stauts" disabled="disabled"/>
                  </div>
                  
                </form>
            </div>
            
            <!-- Modal Footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-default"
                        data-dismiss="modal">
                            Close
                </button>
                <button type="button" class="btn btn-primary" ng-click="updateItemServer()" data-dismiss="modal">
                    Save changes
                </button>
            </div>
        </div>
    </div>
</div>
     
      
</div>


